---
---
@import url(https://fonts.googleapis.com/css?family=Poller+One);
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);

$dark-magenta: #8b008b;
$body-text-color: #333333;

body {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: $body-text-color;
}


.navbar {
  min-height: 50px;
  /*background-color: #F8F8F8;*/
  background-color: rgba(240, 240, 240, 0.85);

  .navbar-brand {
    font-family: 'Poller One', cursive;
    color: $dark-magenta;
  }
}

.article {
  background-color: #FFFFFF;
  padding: 8px 18px;
  border-radius: 8px;
  margin-bottom: 12px;

  h1 {
    font-family: 'Racing Sans One', cursive;
    color: darken($dark-magenta, 5%);
  }

  p {
    font-size: 1.2em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d5052;
    text-align: justify;
    padding: 6px 0 6px 9px;
  }
}

#footer {
  margin-top: 24px;
}

#second-magenta-carousel {

  margin: 24px 0 18px;

  .carousel-inner img {
    margin: auto;
    width: 100%;
    max-width: 600px;
    /*max-height: 400px;*/
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none
  }

  .carousel-indicators li {
    border: 1px solid $dark-magenta;
    background-color: #999 !important;
    background-color: rgba(70,70,70,0.15) !important;
  }
}

#about-us {
  .profile {
    position: relative;
    margin-bottom: 96px;

    .summary {
      text-align: center;

      a {
        color: $body-text-color;

        &:hover {
          text-decoration: none;
        }
      }

      h2:hover {
        color: $dark-magenta;
      }

      img {
        width: 150px;
        border-radius: 50%;
        border: 6px solid silver;

        &:hover {
          border: 6px solid $dark-magenta;
          cursor: pointer;
        }
      }

      p {
        text-align: center;
        font-size: 0.8em;
      }
    }

    ul {
      list-style:none;
    }

    li {
      margin-bottom: 8px;
    }

    li:before {
      content: "\2713 \0020 ";
    }
  }
}

@media print, screen and (min-width: 768px) {
  #about-us {
    .profile {

      .summary {
        width: 250px;
        float: left;
      }

      ul {
        margin-left: 250px;
        padding-top: 28px;
      }
    }
  }
}
