---
---

$colors: (
        #801F73,
        #FC90FD,
        #FC3EC4,
        #B61282,
        #D454CD,
        #FC28FC,
        #950C66,
        #FEB0F3,
        #BB2FB2,
);
$color: nth($colors, random(length($colors)));

html {
    background: radial-gradient(ellipse at center, $color 0%, darken($color, 50%) 100%);
    /*overflow: hidden;*/
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.navbar {
    background-color: #F8F8F8;
}
