---
permalink: about-us/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Second Magenta - People" %}
<body>
{% include navbar.html %}

<div id="about-us">
    <div class="container">
        <div class="article">
            <h1>About us</h1>

            <div class="profile">
                <a name="andrew-sijan"></a>
                <div class="summary">
                    <h2>Andrew Sijan</h2>
                    <img src="{{ site.baseurl }}/img/andrew-sijan.jpg" alt="Andrew Sijan">
                    <p>Proprietor, Technical and Business Consultant (MBA, BSc (Hons), DIS)</p>
                </div>
                <ul>
                    <li>Over 30 years of experience in industry.</li>
                    <li>Early career as a technologist in thin film development and production.</li>
                    <li>Specific applications such as anti-icing coating for aircraft windscreens.</li>
                    <li>Continued interest allows part time project focused consultancy.</li>
                    <li>Supported many aspiring entrepreneurs to form their own companies.</li>
                    <li>Over 15 years of experience in business planning and investment appraisal.</li>
                    <li>High technology focused spin-outs from Universities.</li>
                </ul>
                <div style="clear: both"></div>
            </div>

            <div class="profile">
                <a name="sally-fowler"></a>
                <div class="summary">
                    <h2>Sally Fowler</h2>
                    <img src="{{ site.baseurl }}/img/sally-fowler.jpg" alt="Sally Fowler">
                    <p>Market Research Consultant (BA (Hons))</p>
                </div>
                <ul>
                    <li>Experienced market researcher having worked in agency and manufacturing for 20 years.</li>
                    <li>Manager of marketing services team whilst at a major drinks company.</li>
                    <li>Particular expertise in NPD and customer research.</li>
                </ul>
                <div style="clear: both"></div>
            </div>

            <div class="profile">
                <a name="rob-graham"></a>
                <div class="summary">
                    <a href="http://www.altabyte.com" target="_blank">
                        <h2>Rob Graham</h2>
                        <img src="{{ site.baseurl }}/img/rob-graham.jpg" alt="Rob Graham">
                    </a>
                    <p>Software Consultant (MSc, BSc (Hons))</p>
                </div>
                <ul>
                    <li>Seasoned software developer with over 15 years experience.</li>
                    <li>Machine learning.</li>
                    <li>Multi-dimensional parameter optimisation.</li>
                    <li>Business Intelligence &ndash; Data Analytics &ndash; Dashboarding.</li>
                    <li>Java &amp; Microsoft C<i>#</i>.</li>
                    <li>Database and Data Warehousing.</li>
                    <li>Full-stack web developer &ndash; Ruby on Rails.</li>
                </ul>
                <div style="clear: both"></div>
            </div>

        </div>
    </div>
</div>

{% include footer.html %}
</body>
</html>
