---
permalink: market-research-business-planning/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Market Research & Business Planning" %}
<body>
{% include navbar.html %}

<div id="wis">
    <div class="container">
        <div class="article">
            <h1>Market Research &amp; Business Planning</h1>
            <h3>Primary and secondary market research</h3>
            <p>
                General and specialist knowledge.
            </p>
            <h3>Tailored for new-start high technology companies</h3>
            <p>
                Focusing the true product discriminators and true market opportunity:
                "what you are going to sell to whom and for how much".
            </p>
            <h3>Investment appraisal</h3>
            <p>
                Forecasting, RoI calculation and sensitivity analysis.
            </p>
            <h3>Early stage funding</h3>
            <p>
                Public sector support/SMART applications.<br>
                Business Angel and PV investments.
            </p>
        </div>
    </div>
</div>

{% include footer.html %}
</body>
</html>
