---
permalink: market-research-business-planning/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Market Research & Business Planning" %}
<body>
{% include navbar.html %}

<div id="wis">
    <div class="container">
        <div class="article">
            <h1>Market Research &amp; Business Planning</h1>
            <h3>Primary and secondary market research</h3>
            <p>
                General and specialist knowledge.
            </p>
            <h3>Tailored for new-start high technology companies</h3>
            <p>
                Focusing the true product discriminators and true market opportunity:
                &#8220;<i>what you are going to sell, to whom and for how much</i>&#8221;.
            </p>
            <h3>Investment appraisal</h3>
            <p>
                Forecasting, RoI calculation and sensitivity analysis.
            </p>
            <h3>Early stage funding</h3>
            <p>
                Public sector support/SMART applications.<br>
                Business Angel and PV investments.
            </p>

            <div id="second-magenta-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#second-magenta-carousel" data-slide-to="0" class="active"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ site.baseurl }}/img/consultancy.jpg" alt="Consultancy">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#second-magenta-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#second-magenta-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
</body>
</html>
