---
permalink: thin-film-coatings/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Thin film coatings" %}
<body>
{% include navbar.html %}

<div id="wis">
    <div class="container">
        <div class="article">
            <h1>Thin Film Coating</h1>
            <h3>ITO thin films for heating</h3>
            <p>
                For use in many applications, such as aircraft application for anti-icing and
                demisting presents particular challenges.
            </p>
            <h3>Large area ITO coating chamber requirement specification</h3>
            <p>
                Balancing the demands of high performance coating with high through put and high yield.
            </p>
            <h3>Key parameters and process control for optimisation</h3>
            <p>
                In-depth understanding of stichiometric control with experience across a wide
                range of deposition techniques.
            </p>
        </div>
    </div>
</div>

{% include footer.html %}
</body>
</html>
