---
permalink: windshield-modeller/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="WIS Modeller" %}
<body>
{% include navbar.html %}

<div id="wis">
    <div class="container">
        <div class="article">
            <h1>WIS Modeller</h1>
            <p>
                Windshield modeller (<strong>WIS</strong>) is a software tool to assist in the design of
                heated windshields for aircraft and locomotive applications.
                It can also be used as a more general tool for calculating the transmission properties
                of unheated glazings.
                <strong>WIS</strong> brings together three separate design functions into one software package.
            </p>
            <ul>
                <li>
                    <h3>Thermal performance</h3>
                    Predicting both steady state and dynamic temperatures throughout a
                    heated laminated windscreen based on user-definable environment and boundary conditions.
                </li>
                <li>
                    <h3>Transmission performance</h3>
                    Predicting the spectral transmission, reflection and absorption properties of
                    coated laminated windscreens, based on the library of materials available.
                </li>
                <li>
                    <h3>Grading target icing coatings</h3>
                    Predicting the required resistivity grading for anti-icing coating on non-rectangular heated areas.
                </li>
            </ul>
        </div>
    </div>
</div>

{% include footer.html %}
</body>
</html>
