---
permalink: windshield-uniformity/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="WUS" %}
<body>
{% include navbar.html %}

<div id="wis">
    <div class="container">
        <div class="article">
            <h1>Windshield Uniformity</h1>
            <p>
                The Windshield Uniformity (<strong>WUS</strong>) Test Software measures the thermal uniformity
                of an electrically heated aircraft windshield using a Thermal camera.
            </p>
            <p>
                The <strong>WUS</strong> software calculates the power constants for the windshield under test,
                based on either the heat test or the dynamic approach.
                The power constants are quality control parameters used by windshield manufacturers
                in supply of product. The requirements are specific to a windshield product.
            </p>
            <p>
                In addition, this version of <strong>WUS</strong> includes a new feature for
                temperature spread measurement and display designed for steady-state testing.
                This allows the user to capture a thermal image at any time and, using the cursor,
                determine the temperature spread based on any number of user-selected locations.
            </p>
        </div>
    </div>
</div>

{% include footer.html %}
</body>
</html>
